@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=VT323&display=swap');
*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #011C43;
}
nav a{
    color: aliceblue;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
nav a:hover{
    color: #4b96ff;
}
.card{
    padding: 14px;
}
.container{
    margin: 30px;
}
.btn {
    --bs-btn-color: #4b96ff;
    --bs-btn-border-color: #4b96ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4b96ff;
    --bs-btn-hover-border-color: #4b96ff;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4b96ff;
    --bs-btn-active-border-color: #4b96ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #4b96ff;
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}