@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=VT323&display=swap');
*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #011C43;
}
nav a{
    color: aliceblue;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
nav a:hover{
    color: #4b96ff;
}
.card-body{
    margin: 20px;
}
.card{
    padding: 14px;
}
.container{
    margin: 20px;
}