@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=VT323&display=swap');
*{
    margin: 0;
}
header{
    background-color: #011C43;
}
.nav-link{
    color: aliceblue;
}
nav a:hover{
    color: orange;
}
